.main-nav {
  display: flex;
  flex: 1;
  width: 100%;
}

.main-nav-list {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-nav-list-i {
  width: 140px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.main-nav-list-i-separator {
  width: 4px;
  height: 77px;
  display: flex;
}

.main-nav-list-i-separator-l {
  flex: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,10265f+50,7db9e8+100&0+0,1+50,0+100 */
  background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(16,38,95,1) 50%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(16,38,95,1) 50%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(16,38,95,1) 50%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

.main-nav-list-i-separator-r {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,519cf4+50,7db9e8+100&0+0,0.6+50,0+100 */
  flex: 1;
  background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(81,156,244,0.6) 50%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(81,156,244,0.6) 50%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(81,156,244,0.6) 50%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
  //width: 2px;
  //height: 77px
}

.main-nav-list-a {
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 3px rgba(46,46,46,.58);
}