.header {
  height: 100px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001b67+0,2577ce+50,001b67+100 */
  background: #001b67; /* Old browsers */
  background: -moz-linear-gradient(left, #001b67 0%, #2577ce 50%, #001b67 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #001b67 0%,#2577ce 50%,#001b67 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #001b67 0%,#2577ce 50%,#001b67 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001b67', endColorstr='#001b67',GradientType=1 ); /* IE6-9 */
  box-shadow: 0 4px 12px #000;
  display: flex;
  z-index: 1;
}

.main {
  display: flex;
  flex: 1;
  background: url("../assets/images/bg.png") center 0 no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.main-slider {
  //height: 900px;
  display: flex;
  flex: 1;
}